/* 
    Document   : estilos
    Created on : 10/06/2013, 20:54:00
    Author     : Magno Dal Magro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

/* Ajuste para melhorar desempenho responsivo (João) */
.conceito-conteudo-cima { position: relative}
/*.mensagem_incentivo{position: absolute; bottom: 0px; background: url('imgs/circulo_pontilhado.png') no-repeat left center; width: 300px; height: 82px; font-size: 13px; font-style: italic; font-weight: bold }*/
@media screen and (min-width: 750px) {
.mensagem_incentivo { position: absolute; bottom: 0px; left: -25px; background: url('imgs/circulo_pontilhado.png') no-repeat left top; width: 300px; height: 82px; font-size: 13pt; font-style: italic; font-weight: bold; display: table; vertical-align: bottom; }
}
.texto_img-circulo { display: table-cell; vertical-align: bottom; padding: 0 0 18px 28px;}
@media screen and (min-width: 750px) {
.texto-conceito2{float:left; width: 98%; font-family: verdana; font-size: 11px; margin-top:15px;line-height: 18px; margin-left:0px; z-index: 2;}
}
.objetivos{color:#e41e5f; font-size: 22px;}
.texto-objetivos{color:#e41e5f; font-size: 23px; width:90%;}
.clear { clear: both}



#main {
    width: 350px;
    height: 43px;
    z-index:2;
    margin-left: 300px;
    float:left;
    border: 1px solid #0191b4;
   }

#botao {
    width: 50px;
    height: 46px;
    z-index:2;
    float:left;
    background: url('imgs/bnt_busca.jpg') no-repeat; 
    border: none;
   }
   
#botao:hover { 
    background: url('imgs/bnt_busca_over.jpg'); 
   }
   

.assunto{}






.styled-select select {
   background: transparent;
   width: 405px;
   padding: 5px;
   font-size: 16px;
   line-height: 2;
   border: 0;
   border-radius: 0;
   height:46px;
   -webkit-appearance: none;
   text-indent: 3pt;
 }
   
   
.styled-select {
   width: 405px;
   height: 46px;
   overflow: hidden;
   background: url('imgs/bnt_select.jpg') no-repeat right #ffffff;
   border: 1px solid #0191b4;
   margin-bottom: 20px;
   }
 
 .styled-select:hover {
   background: url('imgs/bnt_select_bg.jpg') no-repeat right #ffffff;
 }
     
 #submit{
   width:89px; 
   height:38px;
   background: #0191b4;
   color:white;
   border: none;
   padding:2px;
   float:right;
 }
 
 #submit:hover{background: #08677d;}
   
 .contato-endereco{margin-bottom:45px;}
 
 .grupo1{
  margin-bottom: 18px;
}


.form-contato { width: 407px; margin-right:65px; margin-top:45px;}

.form-contato input, select { border: 1px solid #2B91B3; color: #A4A8AB; font-size: 16px; font-family: verdana; height: 17px; width: 377px; padding: 14px; margin-bottom: 20px;}

.mensagem { border: 1px solid #2B91B3; color: #A4A8AB; font-size: 16px; font-family: verdana; width: 376px; padding: 15px; margin-bottom: 20px} 

.ddd { width: 45px !important; margin-right: 4px}

.telefone { width:  294px !important}


.contato { padding-top: 40px; padding-left: 70px; margin-bottom: 115px}