/* 
    Document   : style
    Created on : 29/04/2013, 21:06:49
    Author     : joao
    Description:
        Purpose of the stylesheet follows.
*/


root {   display: block; }

* { margin: 0; padding: 0;}

.admin-welcome-wrap { background: #ccc; }

@font-face {
  font-family: 'Sony Sketch EF';
  src: url('fonts/Sony_Sketch_EF.ttf');
  font-weight: regular;
  font-style: regular;
}


/* Classes para elementos HTML */

body {  font-family: Sony Sketch EF; font-size: 14px; color: #666}

a { text-decoration: none; color: inherit}

/* Fim de Classes para elementos HTML */


/* Classes de uso geral */

.float-left { float: left; }

.float-right { float: right; }

.clear { clear: both; }

.display-none { display: none}

.no-mg-right { margin-right: 0px}

.fonte-textos { font-size: 11px; font-family: verdana; font-weight: normal; color: #666}

.laranja { color: #F88716 } 
.azul {color: #2B91B3 }
.amarelo {color:#F3C819 }
.vermelho { color: #DE0060}
.verde { color: #2EA2AB}

.seta-azul { background: url('imgs/seta_azul.png') no-repeat top left; padding-left: 16px; }

.seta-amarela { background: url('imgs/seta_amarela.png') no-repeat top left; padding-left: 16px; }

/* Fim de Classes de uso geral */


/* Classes específicas */

.wrapper { max-width: 960px; margin: auto; background: #fff}

.topo { height: 96px; }

.logo { width: 197px; height: 213px; z-index:3; background: url('imgs/logo_site.png')}

.icon-topo a, .logo a {display: block; width: 100%; height: 100%;}

.social-topo { height: 25px; padding-top: 45px }

.icon-topo { width: 24px; height: 24px; margin-right: 10px }

.face { background: url('imgs/social.png') 0 0; }

.inst { background: url('imgs/social.png') -30px 0;}

.twitter { background: url('imgs/social.png') -58px 0;}

.topo-interna { background: url('imgs/bg_topo.png') repeat; height: 72px; margin-bottom: 34px; padding-top: 52px; z-index:1; }

@media screen and (min-width: 697px) {
  .menu-mobile { display: none }
  .menu-desktop ul {float: right;}
  .menu-desktop ul li { display: block; float: left; width: 77px; height: 33px; list-style-type: none; padding-top: 44px; text-align: center; font-size: 18px; color: #fff }
  .menu-item-home { background: #F88716 }
  .menu-item-foccus { background: #2B91B3 }
  .menu-item-noticias { background: #F3C819}
  .menu-item-login { background: #DE0060}
  .menu-item-busca {width: 32px !important; background: #C2C2C2}
  .menu-item-contato { background: #2EA2AB}
  .down-arrow {font-size: 0px; line-height: 0%; width: 0px; border-left: 20px solid transparent; border-right: 20px solid transparent; position: relative; top: 14px; left: 17px; }
  .menu-item-foccus .down-arrow { border-top: 6px solid #2B91B3; }
  .menu-item-noticias .down-arrow { border-top: 6px solid #F3C819; }

  .submenu { background: #fff; width: 75%; height: 54px; padding: 10px 0px 0px 20px;}
  .submenu span { color: #A4A8AB; font-size: 20px}
  .submenu ul li { display: block; float: left;  list-style-type: none; margin: 6px 27px 0px 0px }
  .submenu ul li a {font-size: 12px; color: #A4A8AB; display: block; height: 18px; padding-top: 1px}
  
  #submenu-foccus { border-bottom: 6px solid #2B91B3; }
  #submenu-noticias { border-bottom: 6px solid #F3C819 }

}

/* Para o submenu funcionar em resoluções entre 695px e 690px de largura */
@media screen and (min-width: 697px) and  (max-width: 960px) {
  .submenu { background: #fff; width: 69%; height: 67px;  padding: 14px 0px 0px 20px}
}

@media screen and (max-width: 696px) {
  .menu-mobile { }
  .menu-desktop { display: none}
}

.slideshow { width: 100%; height: 405px; background: #264761 }

.newsletter { height: 30px; padding-top: 24px; padding-left: 30px }

.newsletter span { font-size: 20px; color: #2C90B7}

.newsletter label { color: #909195; margin-right: 4px; }

.newsletter input[type="text"] { border: 1px #909195 solid; margin-right: 18px; width: 200px; height: 20px}

.newsletter input[type="submit"] { border: 0px; border-radius: 4px; width: 65px; height:26px; color: #fff; padding-bottom: 4px; background: url('imgs/news_bnt.png') repeat-x; position: relative; bottom: 3px; margin-right: 25px;}

.nome-secao { font-size: 28px; font-weight: normal; color: #666; position: relative; z-index: 2; padding-right: 20px; display: inline-block; background: #fff; bottom: 4px }

.arco { height: 65px; float: left; position: relative; z-index: 2; padding-right: 6px; background: #fff}

.linha-azul { border-top-style: solid; border-top-width: 1px; border-top-color: #2B91B3; margin-top: 4px; width: 100%; height: 4px; display: block; position: relative; bottom: 20px; z-index: 0}

.box {height: 210px; width: 184px;  float: left; margin-top: 10px}

.mg-box-right { margin-right: 60px; }

.box img { width: 183px; height: 125px; border-top: 12px solid #2B91B3;}

.box h2 {  margin-top: 10px; }

.box a:hover h2, .box a:hover p {text-decoration: underline}

.box h3  { background: url('imgs/aspas.png') no-repeat top left; padding-left: 30px; padding-top: 0px; font-size: 13px; color: #DE0060; margin-top: 10px; height: 25px; font-weight: normal }

.separador { background: #f5f5f5; border-top: 1px solid #ccc; height: 5px; width:100%; margin: 0 0 6px 0 }

.parceiros h3 { font-size: 20px; color: #909195;  }

.parceiros .box { height: auto;}

.parceiros .box img { border: 0; }

.menu-rodape { font-size: 16px}

.menu-rodape div {  float: left; height: 100px; width:120px; margin: 0 0 0 20px}

.menu-rodape .bd-menu-right { border-right: 1px solid #ccc; }

.menu-rodape h3 { margin-bottom: 20px}

.menu-rodape ul { list-style-type: none; list-style-position: inside}

.menu-rodape ul li { margin-bottom: 8px}

.creditos { background: #2B91B3; color: #fff; padding: 45px 30px 0 30px; height: 60px; margin-top: 40px}

.conteudo-interno {  margin-top: 10px; width: 68%}

.conteudo-interno p { margin-bottom: 28px; }

.topo-interna .newsletter { padding-top: 0px}

.topo-interna .newsletter span { display: block; width: 126px; float: left; font-weight: bold;}

.topo-interna form { margin-top: 15px}

.nome-secao-linha { margin-left: 150px}

.topo-linha { width: 63%}

.listagem {width: 658px}

.listagem .mg-box-right { margin-right: 30px}

.texto-conceito { float: left; width: 51%; line-height: 18px;}

.img-conceito { width: 262px; height: 347px; margin: 4px 35px 35px 5px; }

.coluna-direita {width: 28%; background: #EEF2F8;  float: right; padding-top: 20px; margin-bottom: 10px}

.coluna-direita .secao { background: url('imgs/bg_titulo_coluna_direita.png') 0 0 no-repeat; padding: 5px 0px 0px 20px; color: #DE0060; height: 24px; font-size: 17px;}

.coluna-direita .box {width: 90%; margin: 8px 16px; height: 80px}

.coluna-direita .box img { height: 70px; width: 80px; border: 0; margin-right: 10px }

.coluna-direita .box .saiba-mais { color: #F88716; font-weight: normal; margin-top: 5px}

.erro { display: none; color: #d00; }

/* Fim de Classes específicas */